<!-- Header -->
<header class="header shop">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
                            <li><i class="ti-email"></i> support@shophub.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <!-- <li><i class="ti-location-pin"></i> Store location</li> -->
                            <li><i style="color:black;" class="ti-home"></i> <a routerLink="/home">Products</a></li>
                            <li><i style="color:black;" class="ti-user"></i> <a routerLink="/profile">My Profile</a>
                            </li>
                            <li>
                                <i class="ti-heart" style="color:black;"><a routerLink="/wishlist"> Wishlist </a></i>
                            </li>
                            <li>
                                <i class="ti-bag" style="color:black;"><a routerLink="/cart"> Cart ({{cart.length}})
                                    </a></i>
                            </li>

                            <li><button class="btn-sm btn-primary" (click)="logout()">Logout <i class="ti-power-off"
                                        style="color:white;"></i></button></li>
                        </ul>
                    </div>


                    <!-- End Top Right -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Topbar -->



</header>
<!--/ End Header -->

<!-- Breadcrumbs -->

<!-- End Breadcrumbs -->