<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        padding: 12px 16px;
        z-index: 1;
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>

<!-- Header -->
<header class="header shop">
    <!-- Topbar -->
    <div class="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-12">
                    <!-- Top Left -->
                    <div class="top-left">
                        <ul class="list-main">
                            <li><i class="ti-headphone-alt"></i> +060 (800) 801-582</li>
                            <li><i class="ti-email"></i> support@shophub.com</li>
                        </ul>
                    </div>
                    <!--/ End Top Left -->
                </div>
                <div class="col-lg-8 col-md-12 col-12">
                    <!-- Top Right -->
                    <div class="right-content">
                        <ul class="list-main">
                            <!-- <li><i class="ti-location-pin"></i> Store location</li> -->
                            <li><i style="color:black;" class="ti-home"></i> <a routerLink="/home">Products</a></li>

                            <li>
                                <i class="ti-heart" style="color:black;"><a routerLink="/wishlist"> Wishlist </a></i>
                            </li>
                            <li>
                                <i class="ti-bag" style="color:black;"><a routerLink="/cart"> Cart ({{cart.length}})
                                    </a></i>
                            </li>

                            <li *ngIf="!isLoggedIn"><a style="color:white;" routerLink="/login"
                                    class="btn-sm btn-primary" (click)="logout()">Login <i class="ti-lock"
                                        style="color:white;"></i></a></li>
                            <li *ngIf="isLoggedIn">
                                <div class="dropdown">
                                    <span>
                                        <i class="ti-user" style="color:black;font-size: 20px;"></i>
                                    </span>
                                    <div class="dropdown-content">
                            <li style="margin-top:12px;"><i style="color:black;" class="ti-user"></i> <a
                                    routerLink="/profile">My Profile</a>
                            </li>
                            <li style="margin-top:12px;"><button class="btn-sm btn-primary" (click)="logout()">Logout <i
                                        class="ti-power-off" style="color:white;"></i></button>
                            </li>
                    </div>
                </div>
                </li>
                </ul>
            </div>


            <!-- End Top Right -->
        </div>
    </div>
    </div>
    </div>
    <!-- End Topbar -->



</header>
<!--/ End Header -->

<!-- Breadcrumbs -->

<!-- End Breadcrumbs -->