<app-topbar></app-topbar>
<!-- CSS -->
<style>
    .myForm {
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 0.8em;
        padding: 1em;
        /* border: 1px solid #ccc; */
        border-radius: 3px;
    }

    .myForm * {
        box-sizing: border-box;
    }

    .myForm label {
        font-size: 1.4em;
    }

    .myForm .audioOnly {
        position: absolute;
        width: 10px;
        height: 10px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
    }

    .myForm input {
        border: 1px solid #ccc;
        border-radius: 3px;
        font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        font-size: 1.2em;
        padding: 1.2em;
    }

    .myForm input[type="email"],
    .myForm input[type="text"],
    .myForm input[type="password"] {
        width: 70%;
    }

    .myForm button {
        padding: 0.7em;
        border-radius: 0.5em;
        background: #eee;
        border: none;
        font-weight: bold;
        margin-left: 1.5em;
    }

    .myForm button:hover {
        background: #ccc;
        cursor: pointer;
    }
</style>
<!-- Start Checkout -->
<section class="shop checkout section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Profile</h2>

                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li class="alert alert-{{m[0]}}" *ngFor="let m of messages">{{m[1]}}</li>
                        </ul>
                    </div>
                </div>
                <div class="row">



                    <div class="col-md-6">
                        <form class="myForm" [formGroup]="Nameform" (ngSubmit)="changeName($event, user$)">

                            <label class="audioOnly" for="fullname">Full Name</label>
                            <input type="text" name="fullname" [(ngModel)]="displayName" formControlName="displayName"
                                required placeholder="Full name">

                            <button type="submit">Save changes</button>

                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <form class="myForm" [formGroup]="Emailform" (ngSubmit)="changeEmail($event, user$)">

                            <label class="audioOnly" for="email">Email</label>
                            <input type="email" name="email" [(ngModel)]="email" formControlName="email" required
                                placeholder="Email">

                            <button>Save changes</button>

                        </form>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <form class="myForm" [formGroup]="Passwordform" (ngSubmit)="changePassword($event, user$)">
                            <label class="audioOnly" for="password">Password</label>
                            <input type="password" name="password" formControlName="password" required
                                placeholder="Password">
                            <button>Save changes</button>
                        </form>
                    </div>
                </div>

            </div>


        </div>
    </div>

</section>
<!--/ End Checkout -->

<app-footer></app-footer>